.header {
  height: 100px;
  padding-top: 30px;
  background-color: #2b2f42;
}

.header input {
  height: 30px;
  width: 22vw;
  font-size: 12px;
}

.header button {
  height: 30px;
  width: 30px;
  font-size: 16px;
  padding: 3px 0;
}

.header .menu-button-open,
.header .fa-shopping-cart,
.header .fa-sign-in-alt,
.header .fa-user-plus {
  font-size: 30px;
  margin-right: 1vw;
  cursor: pointer;
  color: #ffffff;
}

.header .fa-shopping-cart {
  margin-right: 3vw;
}

.header .fa-shopping-cart:hover,
.header .fa-sign-in-alt:hover,
.header .fa-user-plus:hover {
  color: #cacaca;
}

@media screen and (max-width: 768px) {
  .header .fa-shopping-cart,
  .header .fa-sign-in-alt,
  .header .fa-user-plus {
    font-size: 24px;
  }
  .header input {
    width: 40vw;
  }
}

@media screen and (max-width: 576px) {
  .header .fa-shopping-cart,
  .header .fa-sign-in-alt,
  .header .fa-user-plus {
    font-size: 16px;
  }
  .header div, .header form {
    padding: 5px;
  }
  .header form {
    text-align: right;
  }
  .header input {
    height: 25px;
    font-size: 10px;
  }
  .header button {
    height: 25px;
    width: 25px;
    font-size: 14px;
  }
}
