
$bgcolor_header: #2b2f42;
$bgcolor_header_hover: #555e8b;

$color_link: #222222;

$color_1: #8c93ff;
$color_2: #80a1e8;
$color_3: #99d5ff;
$color_4: #80d8e8;
$color_5: #8cfff1;

$sidebar_width: 250px;

.logo {
	width: $sidebar_width;
	// max-width: calc(20vw - 30px);	// (wrapper-left width) -= (paddings)
}

.menu-item {
	width: 100%;
	height: calc((100vh - 200px) / 7);
	line-height: calc((100vh - 200px) / 7);
	font-size: 1.1em;
	padding-left: 10%;
	background-color: $bgcolor_header;
	color: white;

	&::before {
		content: '>';
		position: relative;
		right: -195px;
		top: 0;
	}

	&:hover {
		background-color: $bgcolor_header_hover;
	}
}



.menu-button-close {
	display: none;
	position: absolute;
	top: 40px;
	right: 20px;
	font-size: 30px;
	margin-right: 1vw;
	cursor: pointer;
	color: #d4d4d4;
}

.wrapper-socials {
	text-align: center;
}

.social-item {
	width: ($sidebar_width / 3) - 4px;
	display: inline-block;
	font-size: 50px;
	
	a {
		color: white;

		&:hover {
			color: white;
		}
	}

	.fa-facebook-square:hover {
		color: #3b5998;
	}

	.fa-twitter-square:hover {
		color: #00acee;
	}

	.fa-instagram:hover {
		color: #fb3958;	
	}
}

@media screen and (min-width: 768px) {
	.sidebar {
		margin-left: 0px;
	}

	.menu-button-open {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.sidebar {
		margin-left: -$sidebar_width;
	}

	.content {
		margin-left: 0;
	}

	.menu-button-open {
		display: block;
	}
}