.logo {
  width: 250px;
}

.menu-item {
  width: 100%;
  height: calc((100vh - 200px) / 7);
  line-height: calc((100vh - 200px) / 7);
  font-size: 1.1em;
  padding-left: 10%;
  background-color: #2b2f42;
  color: white;
}

.menu-item::before {
  content: '>';
  position: relative;
  right: -195px;
  top: 0;
}

.menu-item:hover {
  background-color: #555e8b;
}

.menu-button-close {
  display: none;
  position: absolute;
  top: 40px;
  right: 20px;
  font-size: 30px;
  margin-right: 1vw;
  cursor: pointer;
  color: #d4d4d4;
}

.wrapper-socials {
  text-align: center;
}

.social-item {
  width: 79.33333px;
  display: inline-block;
  font-size: 50px;
}

.social-item a {
  color: white;
}

.social-item a:hover {
  color: white;
}

.social-item .fa-facebook-square:hover {
  color: #3b5998;
}

.social-item .fa-twitter-square:hover {
  color: #00acee;
}

.social-item .fa-instagram:hover {
  color: #fb3958;
}

@media screen and (min-width: 768px) {
  .sidebar {
    margin-left: 0px;
  }
  .menu-button-open {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    margin-left: -250px;
  }
  .content {
    margin-left: 0;
  }
  .menu-button-open {
    display: block;
  }
}
