.about {
  padding: 30px 50px 100px 50px;
  background-color: #3d425e;
  color: #ffffff;
}

.about h5 {
  margin-bottom: 50px;
}

.about div {
  text-align: center;
}

.about img {
  width: 250px;
  height: 200px;
  border-radius: 180px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.about img:hover {
  -webkit-box-shadow: 10px 10px 110px 10px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 10px 10px 110px 10px rgba(0, 0, 0, 0.65);
  box-shadow: 10px 10px 110px 10px rgba(0, 0, 0, 0.65);
}

.about .about-img {
  margin-bottom: 30px;
}

.about .about-text {
  padding: 0 15px;
}

.about .about-text i {
  margin-right: 30px;
  font-size: 20px;
}

.about .about-contact {
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .about .about-text {
    text-align: left;
    padding-left: 80px;
  }
}
