
$color_link: #222222;
$color_link_hover: #333333;

$color_1: #8c93ff;
$color_2: #80a1e8;
$color_3: #99d5ff;
$color_4: #80d8e8;
$color_5: #8cfff1;

$font_montserrat: 'Montserrat', sans-serif;

$sidebar_width: 250px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $color_4;
	font-family: $font_montserrat;
}

a {
	color: $color_link;
}
a:hover {
	color: $color_link_hover;
}

.wrapper-main {
	display: flex;
	width: 100%;
	align-items: stretch;
}

.sidebar {
	width: $sidebar_width;
	position: fixed;
	top: 0;
	left: 0;
	transition: 0.5s;
	border-right: 1px solid black;
	background-color: $color_4;
	z-index: 100;
}

.content {
	margin-left: $sidebar_width;
	transition: 0.5s;
}





